.card {
  border: 0 !important;
}

.status-badge {
  position: absolute;
  margin-top: 3px;
  margin-left: 15px;
  left: 0;
}

.user-avatar-sm {
  box-shadow: #5ad777 1px 1px 1px;
}

.color-grey {
  color: #343a40;
}
.bg-mint {
  background-color: mintcream;
}
.bg-grey {
  background-color: #343a40;
}

.w100 {
  width: 100%;
}

.text-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
a {
  color: forestgreen !important;
}
.text-light a {
  color: limegreen !important;
}