.card {
  border: 0 !important;
}

.status-badge {
  position: absolute;
  margin-top: 3px;
  margin-left: 15px;
  left: 0;
}

.user-avatar-sm {
  box-shadow: #5ad777 1px 1px 1px;
}

.color-grey {
  color: #343a40;
}
.bg-mint {
  background-color: mintcream;
}
.bg-grey {
  background-color: #343a40;
}

.w100 {
  width: 100%;
}

.text-link:hover {
  cursor: pointer;
  text-decoration: underline;
}
a {
  color: forestgreen !important;
}
.text-light a {
  color: limegreen !important;
}
.onph-container a {
  color: #fff !important;
}

.spinner-overlay {
  position: fixed;
  width: 100%;
  height:100%;
  display: flex;
  top: 0;
}
.spinner-border {
  margin: auto;
}

@keyframes slide {
  100% { 
    transform: translateX(-600px);  
  }
}

.slider-outer {
  position: relative;
  width: 1000px;
  animation: slide 30s linear infinite;
  animation-fill-mode: forwards;
}